<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buscar Pessoa</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>

<header>
    <h1>Buscar Pessoa</h1>
</header>

<main>

    <h2>Digite o CPF para Buscar</h2>

    <form th:action="@{/pessoas/buscar}" method="get" class="search-form">
        <input type="text" name="cpf" placeholder="Ex: 123.456.789-00" required>
        <button type="submit" class="btn btn-buscar">Buscar</button>
    </form>

    <p id="msgErroCPF" class="msg-erro-cpf"></p>

</main>

<footer>
    <a th:href="@{/pessoas}" class="btn voltar">Voltar à lista</a>
</footer>

<script>
  document.querySelector(".search-form").addEventListener("submit", function(e) {
    const cpf = document.querySelector("input[name='cpf']").value.trim();
    if (cpf === "") {
      e.preventDefault();
      const msg = document.getElementById("msgErroCPF");
      msg.style.display = "block";
      msg.textContent = "Você deve digitar um CPF para buscar.";
    }
  });
</script>

</body>
</html>
